body {
    background-color: rgb( 10 , 10 , 15 );
    color: white ;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 30px ;
}

div{
  color: rgb(88, 166, 255);
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin: 30px 0 15px 0;
}

h1 {
    color: rgb( 0 , 220 , 100 );
    font-size: 42px ;
    text-align: center ;
    font-weight: bold ;
}

h2 {
    color: rgb( 88 , 166 , 255 );
    font-size: 32px ;
    text-align: center ;
    font-weight: bold ;
    margin: auto ;
}


h3 {
  color: rgb(0, 220, 180);
  font-size: 22px;
  text-align: left ;
  font-weight: bold ;
}


p {
  color: rgb(210, 210, 225);
  font-size: 18px;
  text-align: left;
}


ul, ol {
  color: rgb(220, 220, 235);
  font-size: 17px;
  background-color: rgb(15, 16, 24);
  border: 1px solid rgb(45, 50, 70);
  padding: 20px;
  margin: 15px 0;
}


li {
  margin: 8px;
}


img {
  width: 350px;
  height: 230px;
  border: 2px solid rgb(45, 50, 70);
  padding: 8px;
  margin: 10px 0 25px 0;
}


hr {
  border: 1px solid rgb(45, 50, 70);
  margin: 30px 0;
}

